# Before running this service:
# 1. Change the filename have .sh extension.
# 2. Set value for all of the env variables.
# 3. Source the env by running "source env.sh" in the command line.
# 4. It is recommended that you separate the env file for dev and stg. E.g dev.sh and stg.sh

# dev database, per the docker setup
export DB_HOST=localhost
export DB_USERNAME=postgres
export DB_PASSWORD=postgres
export DB_PORT=5433
export DB_NAME=postgres

# dbmate (DB Migration) Config
export DATABASE_URL=postgres://$DB_USERNAME:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME?sslmode=disable
export DBMATE_MIGRATIONS_DIR='./db/postgres/dbmate/migrations'
export DBMATE_SCHEMA_FILE='./db/postgres/dbmate/schema'
export DBMATE_NO_DUMP_SCHEMA=false
export DBMATE_WAIT=false
export DBMATE_WAIT_TIMEOUT='2m0s'
export DBMATE_MIGRATIONS_TABLE="dbmate_schema_migrations"

# New Relic Credentials
export NEW_RELIC_LICENSE=
export NEW_RELIC_APPNAME=

# Allow importing all private repo from organization
export GOPRIVATE="github.com/kargotech/*"

# Feature Flag
export FEATURE_FLAG_APP_NAME="Go Test App"
export FEATURE_FLAG_URL="https://unleash-dev-api.app-dev.kargo.tech/api"
export FEATURE_FLAG_TOKEN=""